In [6]:
number=[10,20,30,40,50,60,70,80,34,56,98,12]
print(number[:])
print(number[0:4])
print(number[1:8:2])
print(number[::-1])
print(number[:5:3])
print(number[5::3])
print(number[::5])
print(number[:3:-3])
print(number[1:9:-2])
print(number[9:1:3])

[10, 20, 30, 40, 50, 60, 70, 80, 34, 56, 98, 12]
[10, 20, 30, 40]
[20, 40, 60, 80]
[12, 98, 56, 34, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 40]
[60, 34, 12]
[10, 60, 98]
[12, 34, 60]
[]
[]

In [7]:
fruits=["apple","banana","cherry","kiwi","gauva"]
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [8]:
fruits[3]='watermelon'
print(fruits)

['apple', 'banana', 'cherry', 'watermelon', 'gauva']

In [ ]:
fruits.insert(-13,"watermelon")
print(fruits)

['watermelon', 'apple', 'banana', 'cherry', 'watermelon', 'gauva']

In [10]:
list1=[1,2,3,5,9]
list2=[4,5,6]
#list1extend(5) iterable:any iterable(list,tuple,set)
list2.append(list1)
print(list2)
print(list1)

[4, 5, 6, [1, 2, 3, 5, 9]]
[1, 2, 3, 5, 9]

In [11]:
list1=[1,2,[3,5],9]
list2=[4,5,6]
#list1extend(5) iterable:any iterable(list,tuple,set)
list2.append(list1)
print(list2)
print(list1)

[4, 5, 6, [1, 2, [3, 5], 9]]
[1, 2, [3, 5], 9]

In [12]:
lst=[2,3,4,5,6,7,8,9]
for i in range(len(lst)):
    print(lst[i],end=" ")

2 3 4 5 6 7 8 9

In [13]:
#wap which will print count of even and odd in a given list
lst=[2,3,4,5,6,7,8,9]
ev=od=0
for i in range(len(lst)):
    if lst[i]%2==0:
        ev+=1
    else:
        od+=1
print(ev,od)

4 4

In [ ]:
#delete the element from the list
lst=[2,3,4,5,6,7,8,9]
del lst[4]
print(lst)

[2, 3, 4, 5, 7, 8, 9]

In [ ]:
#delete the whole list
lst=[2,3,4,5,6,7,8,9]
del lst

In [ ]:
lst = [2,3,4,6,7,8]
#we can delete element using pop works on index
a=lst.pop(3)
print(lst)
print(a)

[2, 3, 4, 7, 8]
6

In [ ]:
#remove the first occurence of given and item from the list (element comes first is deleted) works on element
lst=[1,3,4,5,6,78,8,56,1,2,3]
print(lst)
lst.remove(1)
print(lst)

[1, 3, 4, 5, 6, 78, 8, 56, 1, 2, 3]
[3, 4, 5, 6, 78, 8, 56, 1, 2, 3]

In [6]:
lst=[10,7,[1,1],1,19]
print(lst)
lst.remove(1)
print(lst)

[10, 7, [1, 1], 1, 19]
[10, 7, [1, 1], 19]

In [7]:
#the count method in a list is used to count the number to the element present in list
number=[1,2,2,3,4,4,4,4,5]
print(number.count(4))

4

In [9]:
#reverse is reverses the entire list
numbers=[1,2,2,3,4,4,4,4,5]
number.reverse()
print(number)

[5, 4, 4, 4, 4, 3, 2, 2, 1]

In [8]:
# to check the element is present at which index
lst=[2,5,"apply",2]
lst.index(2)

0

In [10]:
#swap the element 
lst=[2,3,4,5,6,7,8,9]
for i in range(0,len(lst)-1,2):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 7, 6, 9, 8]

In [12]:
#wap which will print the largest element of the list
lst=[2,4,5,6,7,86,67,9,34,56]
temp=lst[0]
for i in range(len(lst)):
    if lst[i]>temp:
        temp=lst[i]
print(temp)

86

In [14]:
#wap which will print the 2 largest element of the list
lst=[25,3,2,20,10,15,6,12,10,9,11]
lst.reverse()
print(lst)
lst1=[lst[0]]
temp=lst[0]
for i in lst:
    if i>temp:
        temp=i
        lst1.append(i)
lst1.reverse()
print(lst1)

[11, 9, 10, 12, 6, 15, 10, 20, 2, 3, 25]
[25, 20, 15, 12, 11]

In [ ]:
#sqaure using append
lst=[25,3,2,20,10,15,6,12,10,9,11]
print(lst)
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[25, 3, 2, 20, 10, 15, 6, 12, 10, 9, 11]
[625, 9, 4, 400, 100, 225, 36, 144, 100, 81, 121]

In [ ]:
#sqaure of each element
lst=[25,3,2,20,10,15,6,12,10,9,11]
lst1=[i**2 for i in lst]
print(lst1)

[625, 9, 4, 400, 100, 225, 36, 144, 100, 81, 121]

In [ ]:
#postive and negative list 
lst=[2,-3,-4,6,-7,-9,6,3,6,7,9]
lst1=[i for i in lst if i>0]
lst2=[i for i in lst if i<0]
print(lst1,lst2)

[2, 6, 6, 3, 6, 7, 9] [-3, -4, -7, -9]

In [ ]:
#print even in place of even no and odd in place of odd number in the list
lst=[2,3,4,5,6,7,8,9]
lst1=["even" if i%2==0 else "odd" for i in lst]
print(lst1)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#max min sum using max min sum function
lst=[2,3,4,5,6,7,8,9]
print(max(lst))
print(min(lst))
print(sum(lst))

9
2
44

In [ ]:
#find max in a list of list
lst=[[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
lst1=[max(i) for i in lst]
print(lst1)

[9, 9, 8, 8]

In [23]:
lst=[[3,5,7,9],[8,2,5,9],[7,3,5,8],[8,3,2]]
lst1=[]
for i in lst:
    temp=0
    for j in i:
        if j%2!=0:
            temp+=j
    lst1.append(temp)
print(lst1)

[24, 14, 15, 3]

In [1]:
#tuple
tp1=()
tp2=tuple()
tp3=(1,2,3,"hello")
print(tp1,tp2,tp3)

() () (1, 2, 3, 'hello')

In [ ]:
#type
tp1=(5,)
type(tp1)

tuple

In [5]:
#count
tpl=(1,2,3,4,5,6,7,8,9,6)
tpl.count(6)

2

In [ ]:
#index
tpl=(1,2,3,4,5,6,7,8,9,6)
#tpl.count(6)
print(tpl.index(4))

3

In [8]:
tpl=(2,3,4,5)
print(id(tpl))
tpl+=(7,8)
print(id(tpl))
print(tpl)

1776041392336
1776033671072
(2, 3, 4, 5, 7, 8)

In [ ]:
x=(2,3,4,5,6,7,8,9)
#x=list(x)  tuple to list conversion
lst=[i for i in x if i%2==0]
x=tuple(lst)
print(x)

(2, 4, 6, 8)

In [11]:
#string
x="Let's learn python"
print(x[::-3])
print(x[7::4])
print(x[10::])
print(x[::3])
print(x[-3:-10:-5])
print(x[-2:])

nt a t
e h
n python
L'lrph
hn
on

In [14]:
str1='hello everyone'
x=list(str1)
print(x)

['h', 'e', 'l', 'l', 'o', ' ', 'e', 'v', 'e', 'r', 'y', 'o', 'n', 'e']

In [ ]:
st="hello everyone lets learn python"
lst=st.split()
print(lst)

['hello', 'everyone', 'lets', 'learn', 'python']

In [24]:
#wap which will take a string as a input and print longest word and its length
st=str(input("Enter the string"))
st=st.split()
temp=""
for i in st:
    if len(i)>len(temp):
        temp=i
print(temp,len(temp))

everyone 8

In [25]:
#replace function
x="apple orange apple guava apple banana"
y=x.replace("apple","kiwi")
print(x)
print(y)

apple orange apple guava apple banana
kiwi orange kiwi guava kiwi banana

In [39]:
x="apple , orange . apple , guava . apple , banana"
x=x.replace(".","#")
x=x.replace(",",".")
x=x.replace("#",",")
print(x)

apple . orange , apple . guava , apple . banana

In [42]:
x=str(input())
if x==x[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [44]:
#set
st=set()#empty set
st1={}
print(type(st))
print(type(st1))

<class 'set'>
<class 'dict'>

In [45]:
st={1,2,3,45,6,6,"hello"}
print(st)

{1, 2, 3, 6, 'hello', 45}

In [ ]:
#add the element in set
st={1,2,4,3}
st.add(5)
print(st)

{1, 2, 3, 4, 5}

In [ ]:
st={1,2,4,3}
st.add((2,3,4))#tuple add
print(st)

{1, 2, 3, 4, (2, 3, 4)}

In [ ]:
st={1,2,3}
st.update([1,2,3,4,5],(1,2,3,45,5))#update add multiple element
print(st)

{1, 2, 3, 4, 5, 45}

In [ ]:
x={1, 2, 3, 4, 5, 45}
x.remove(2)#if element is not present then it will show the error
print(x)

{1, 3, 4, 5, 45}

In [53]:
x={1, 2, 3, 4, 5, 45}
x.discard(20)#if element is not present then it will not show the error
print(x)

{1, 2, 3, 4, 5, 45}

In [ ]:
x={1, 2, 3, 4, 5, 45}
x.clear()#return the empty set
print(x)

set()

In [56]:
x={1, 2, 3, 4, 5, 45}
del x #it will delete all the thing and nothing will print

In [ ]:
x=str(input())
x=x.split()
print(x)
temp=0
if x==x[::-1]:
    temp+=1
    print(temp)

['hello', 'how', 'are', 'you', ',', 'how', 'are', 'they']

In [60]:
x='hello how are you , how are they'
print(len(set(x.split())))

6

In [65]:
x='hello how are you , how are they'
lst=x.split()
lst1=[]
for i in lst:
    if i not in lst1:
        lst1.append(i)
x=" ".join(lst1)
print(x)

hello how are you , they

In [ ]:
#frozenSet it makes the set immutable
s={1,2,3,4,5,6,7}
s1=frozenset([1,2,3,4,5,6,7])
print(s1)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [ ]:
#set operation
s={1,2,3,4,5,6}
s1={2,3,6,7,8,9,1}
print(s|s1)#union
print(s&s1)#intersection
print(s1-s)#difference
print(s-s1)
print(s^s1)#symmetric difference

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 6}
{8, 9, 7}
{4, 5}
{4, 5, 7, 8, 9}

In [12]:
#empty dictionary
my_dict={}
print(my_dict)
my_dict={1:"abc",1:['xyz']}
print(my_dict)
#dictionary with mixed keys
my_dict={'name':'satish',1:['abc','xyz']}
print(my_dict)

{}
{1: ['xyz']}
{'name': 'satish', 1: ['abc', 'xyz']}

In [13]:
#Create dictionary

# ->list of list
d1=dict([[1,'abc'],[2,'cde'],[3,'def']])
print(d1)

# ->list of tuple
d2=dict([('a',1),('b',2),('c',3)])
print(d2)

# ->list of set
d3=dict([{'hii',23},{'bye',56},{'hello',78}])
print(d3)

# ->tuple of list
d4=dict((['man',90],['women',80]))
print(d4)

# ->tuple of set
d5=dict(({'mango',50},{'orange',80}))
print(d5)

# ->tuple of tuple
d6=dict(((1,'a'),(2,'b'),(3,'c')))
print(d6)

# ->set of tuple 
d7=dict({((5,6,7),'a'),(3,'b')})
print(d7)

{1: 'abc', 2: 'cde', 3: 'def'}
{'a': 1, 'b': 2, 'c': 3}
{'hii': 23, 56: 'bye', 'hello': 78}
{'man': 90, 'women': 80}
{50: 'mango', 80: 'orange'}
{1: 'a', 2: 'b', 3: 'c'}
{(5, 6, 7): 'a', 3: 'b'}

In [19]:
#dict access
my_dict={'name':'satish','age':27,'address':'guntur'}
my_dict['age']
# my_dict['degree'] #if key is not present then it will show the error

27

In [ ]:
my_dict={'name':'satish','age':27,'address':'guntur'}
print(my_dict.get('name'))
print(my_dict.get('degree')) #if key is not present then it will show the none

satish
None

In [23]:
my_dict={'name':'satish','age':27,'address':'guntur'}
my_dict['name']="Khushi" #it update the value of the key
my_dict['degree']="MTech" # it will add the key and value in dictionary if it is not present
print(my_dict)

{'name': 'Khushi', 'age': 27, 'address': 'guntur', 'degree': 'MTech'}

In [26]:
x={3:7,8:9,12:25,13:32}
print(x)
x[8]+=5
x[12]+=5
x[13]+=5
print(x)

{3: 7, 8: 9, 12: 25, 13: 32}
{3: 7, 8: 14, 12: 30, 13: 37}

In [28]:
lst=[3,5,3,7,9,2,5,8,3,7,9,3,5]
d={}
for i in lst:
    d[i]=lst.count(i)
print(d)

{3: 4, 5: 3, 7: 2, 9: 2, 2: 1, 8: 1}

In [ ]:
d={'name': 'Khushi', 'age': 27, 'address': 'guntur', 'degree': 'MTech'}
print(d.pop('name')) # delete the value 
print(d)

Khushi
{'age': 27, 'address': 'guntur', 'degree': 'MTech'}

In [ ]:
d={'name': 'Khushi', 'age': 27, 'address': 'guntur', 'degree': 'MTech'}
print(d.popitem()) #delete the last item from dictionary
print(d)
del d['name'] #delete the element
print(d)
# del d
# print(d) #delete whole dictionary
d.clear() #delete whole dictionary and give empty dictionary
print(d)

('degree', 'MTech')
{'name': 'Khushi', 'age': 27, 'address': 'guntur'}
{'age': 27, 'address': 'guntur'}
{}

In [ ]:
#shallo copy
x=[3,4,5,6,7]
y=x
x[3]=15
y[3]=14
print(x)
print(y)

[3, 4, 5, 14, 7]
[3, 4, 5, 14, 7]

In [ ]:
#copy method
x=[3,4,5,6,7]
y=x.copy()
x[3]=15
y[3]=14
print(x)
print(y)

[3, 4, 5, 15, 7]
[3, 4, 5, 14, 7]

In [ ]:
#keys,values,items
subjects={2:4,3:9,4:16,5:25}
print(subjects.keys())
print(subjects.values())
print(subjects.items())

dict_keys([2, 3, 4, 5])
dict_values([4, 9, 16, 25])
dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [38]:
x={2:4,3:9,4:16,5:25}
for k,v in x.items():
    if v%2==0:
        x[k]+=5
    else:
        x[k]-=5
print(x)

{2: 9, 3: 4, 4: 21, 5: 20}

In [42]:
x={2:[1,2,3,4,6],3:[7,8,9,10],4:[1,6,7,4],5:[1,2,3,5]}
count=0
for k,v in x.items():
    for i in v:
        if i%2!= 0:
            count+=1
    x[k]=count
print(x)

{2: 2, 3: 4, 4: 6, 5: 9}

In [43]:
x={2:[1,2,3,4,6],3:[7,8,9,10],4:[1,6,7,4],5:[1,2,3,5]}
for k,v in x.items():
    x[k]=[i+1 for i in v]
print(x)

{2: [2, 3, 4, 5, 7], 3: [8, 9, 10, 11], 4: [2, 7, 8, 5], 5: [2, 3, 4, 6]}

In [ ]:
#creating a new dictionary with only pairs wher the value i
d={'a':1,'b':2,'c':3,'d':4}
new_dict={k:v for k,v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4}

In [45]:
#we can also perform operation on the key value pairs
d=d={'a':1,'b':2,'c':3,'d':4,'e':5}
new_dict={k+"c":v*2 for k,v in d.items() if v>2}
print(new_dict)

{'cc': 6, 'dc': 8, 'ec': 10}